<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section th:fragment="CrearUsuario">
    <form th:action="@{/guardarUsuario}" th:object="${usuario}" method="POST" class="was-validated">
        <input type="hidden" th:field="*{idUsuario}" />

        <section th:replace="Usuario/FormularioCrear :: FormularioCrear"></section>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Guardar Usuario</button>
        </div>
    </form>
</section>
</body>
</html>
